<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-icon ion-ios-arrow-back" ng-click="closeNewTextNote()"> Notes</button>
    </div>
    <h1 class="title">New Note</h1>
  </ion-header-bar>

<!--   <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar> -->

  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Title" ng-model="newNote.title">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Note</span>
        <textarea type="text" placeholder="Note" rows="5" ng-model="newNote.content"></textarea>
      </label>
    </div>
  </ion-content>
</ion-modal-view>